annotated-types==0.6.0
anyio==4.3.0
appnope==0.1.4
asttokens==2.4.1
attrs==23.2.0
backoff==2.2.1
boilerpy3==1.0.7
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.2
debugpy==1.8.1
decorator==4.4.2
distro==1.9.0
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.1
fsspec==2024.2.0
h11==0.14.0
haystack-ai==2.0.0b5
haystack-bm25==1.0.2
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.21.4
humanize==4.9.0
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
ipykernel==6.29.3
ipython==8.22.2
ipyvue==1.10.2
ipyvuetify==1.9.1
ipywidgets==8.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.10
lazy-imports==0.3.1
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
mdurl==0.1.2
monotonic==1.6
more-itertools==10.2.0
moviepy==1.0.3
mpmath==1.3.0
nbformat==5.10.2
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.4
openai==1.13.3
packaging==24.0
pandas==2.2.1
parso==0.8.3
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.2.0
ploomber-cloud==0.1.16
ploomber-core==0.2.25
posthog==3.5.0
proglog==0.1.10
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.6.4
pydantic_core==2.16.3
pydub==0.25.1
Pygments==2.17.2
pymdown-extensions==10.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
reacton==1.8.3
referencing==0.33.0
regex==2023.12.25
requests==2.31.0
rich==13.7.1
rich-click==1.7.4
rpds-py==0.18.0
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
sentence-transformers==2.5.1
six==1.16.0
sniffio==1.3.1
solara==1.29.1
stack-data==0.6.3
starlette==0.37.2
sympy==1.12
tenacity==8.2.3
threadpoolctl==3.3.0
tokenizers==0.15.2
torch==2.1.1
torchvision==0.16.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
transformers==4.38.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.28.0
watchdog==4.0.0
watchfiles==0.21.0
wcwidth==0.2.13
websockets==12.0
widgetsnbextension==4.0.10
