<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Walmart Sales Forecasting</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background: #000;">
<div class="chartButton">
    <button id="showChartsButton" class="btn btn-primary btn-block btn-small">Show Charts</button>
    <div id="chartContainer1" style="display: none;">
        <img src="{{ url_for('static', filename='feature_correlation.png') }}" alt="Chart 1" style="max-width: 50%; float: left; margin-right: 5px;">
    </div>
    <div id="chartContainer2" style="display: none;">
        <img src="{{ url_for('static', filename='feature_importance.png') }}" alt="Chart 2" style="max-width: 50%; float: left;">
    </div>
</div>

<script>
    document.getElementById('showChartsButton').addEventListener('click', function () {
        var chartContainer1 = document.getElementById('chartContainer1');
        var chartContainer2 = document.getElementById('chartContainer2');
        var loginDiv = document.querySelector('.login'); // Get the "Sales Forecasting" div

        if (chartContainer1.style.display === 'none') {
            chartContainer1.style.display = 'block';
            chartContainer2.style.display = 'block';
            loginDiv.style.display = 'none'; // Hide the "Sales Forecasting" div
        } else {
            chartContainer1.style.display = 'none';
            chartContainer2.style.display = 'none';
            loginDiv.style.display = 'block'; // Show the "Sales Forecasting" div
        }
    });
</script>

<div class="login" style="float:left; overflow-y: auto; scrollbar-color: #888 #fff;">
    <h1>Walmart Sales Forecasting</h1>


    <form action="{{ url_for('predict')}}" method="post" autocomplete="off">

        <input type="text" name="Store" placeholder="Enter a store number between 1 and 45" required="required" pattern="([1-9]|[1-3][0-9]|4[0-5])" />
        <input type="text" name="Dept" placeholder="Enter a department number between 1 and 95" required="required" />
        <label for="isHoliday" style="font-size: 12px;">special holiday week?</label>
        <select name="isHoliday" required="required">
                <option value="True">True</option>
                <option value="False">False</option>
        </select>
        <br>
        <br>
        <label for="Date" style="font-size: 12px; text-align: left;">Week for which to predict sales</label>
        <input type="date" name="Date" placeholder="date" required="required" />
        <br>
        <br>
        <label for="MarkDown1" style="font-size: 12px; text-align: left;">Promotional markdown (optional fields).<br> Enter a price value,e.g., 3288.67</label>
        <input type="text" name="MarkDown1" placeholder="MarkDown1" />
        <input type="text" name="MarkDown2" placeholder="MarkDown2" />
        <input type="text" name="MarkDown3" placeholder="MarkDown3" />
        <input type="text" name="MarkDown4" placeholder="MarkDown4" />
        <input type="text" name="MarkDown5" placeholder="MarkDown5" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict weekly sales</button>
    </form>

    <br>
    <br>
</div>

<div style="position: relative;">
    {{ prediction_text }}
</div>

</body>
</html>
