uvicorn==0.21.1
fastapi==0.95.0 
redis==4.5.4
celery==5.2.7
watchdog==4.0.0
python-dotenv==1.0.0
sqlalchemy==2.0.28
llama-index-core==0.10.20.post2
llama-index-readers-github==0.1.7
llama_index==0.10.20
humanize==4.9.0
solara==1.29.1
openai==1.14.2